

.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-header .fa{
    font-size: 25px;
    line-height: 0;
    color: #db5f41;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
    font-size: 11px;
    letter-spacing: 2px;
}

.navbar-custom .nav li a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    border-bottom: 4px solid #db5f41
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

.cv{
    padding: 5px 10px !important;
    border: 1px solid #db5f41;
    color: #db5f41 !important;
    font-size: 10px;
    background-color: transparent;
    font-weight: 500;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 8px;
}
.cv:hover{
    transition: all .4s ease-in-out !important;
    -webkit-transition: all .4s ease-in-out !important;
    background-color: #db5f41 !important;
    color: #fff !important;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
    .navbar-custom.top-nav-collapse img {
        padding:  0 20px;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;

    }
}


